<h1 class="center">Animals</h1>

<div class="center">
  <ul>
    <% @animals.each do |animal| %>
      <li><%= link_to animal.species, animal_path(animal) %></li>
    <% end %>
  </ul>

</div>

<%= link_to "New Animal", new_animal_path %>

<br>
<%= link_to "Home", "/" %>
