<h1 class="jumbotron">Animals</h1>

<ul>
  <% @animals.each do |animal| %>
    <li><%= link_to animal.species, animal_path(animal) %></li>
  <% end %>
</ul>

<%= link_to "New Animal", new_animal_path %>

<br>
<%= link_to "Home", "/" %>
