<h1 class="center">Animals</h1>

<div class="col-xs-7 left">
  <h3>The Leimalama Wilderness Study Animals</h3>
  <p>Click on any animal to learn more about it, to see the sightings reported of that animal, or to report a sighting.</p>
  <ul class="list-unstyled">
    <% @animals.each do |animal| %>
      <li><%= link_to animal.species, animal_path(animal) %></li>
    <% end %>
  </ul>
</div>
<div class="col-xs-5 right">
<%= image_tag('rocky.jpg') %>
</div>
<br>
<br>
<hr>
<h5>Admin</h5>
<%= link_to "New Animal", new_animal_path %>
