<h1>regions</h1>
<ul>
  <% @regions.each do |region| %>
    <li><%= link_to region.name, region_path(region) %></li>
  <% end %>
</ul>

<%= link_to "New Region", new_region_path %>

<br>
<%= link_to "Home", "/" %>
