<h1>Regions</h1>
<div class="col-xs-7 left">
  <h3>The Leimalama Wilderness Study Regions</h3>
  <p>Click on any region to learn more about it, to see the sightings reported in that area, or to report a sighting there.</p>
  <ul class="list-unstyled">
    <% @regions.each do |region| %>
      <li><%= link_to region.name, region_path(region) %></li>
    <% end %>
  </ul>
</div>
<div class="col-xs-5 right">
  <%= image_tag('topo.jpg') %>
</div>
<br>
<br>
<hr>
<h5>Admin</h5>
<%= link_to "New Region", new_region_path %>
