<!DOCTYPE html>
<html>
  <head>
    <title>WildlifeTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-heading">
      <h1>The something cool animal project</h1>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="animals#index">Animals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sightings#index">Sightings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="regions#index">Regions</a>
        </li>
      </ul>
    </div>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
